body{
    font-family: 'Montserrat';
}
h1 {  
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
}
h2{
    font-size: 3rem;
    font-weight: bold;
}
h3{
    font-weight: bold;
    font-size: 1.5rem;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #2A2438;
}

/* title */
#dogs{
    text-decoration: underline;
    color: #DDDDDD;
}
#dogs:hover{
    color: #222831;
}
#apple{
    color: #F2A07B;
    font-size: 50px;
    --ionicon-stroke-width: 16px;
}
#android{
    color: #423F3E;
    font-size: 50px;
    --ionicon-stroke-width: 16px;
}
#title{
    background-color: #ff4c68;
    color: #DDDDDD;
}
.container-fluid{
    padding: 3% 10%;
}

/* navigation bar */

.navbar{
    padding: 0 0 5rem;
}
.navbar-brand{
    color: #DDDDDD;
    font-family: 'Ubuntu';
    font-size: 3rem;
    font-weight: bold;
}
.navbar-brand:hover, .nav-link:hover{
    color: #362222;
}
.nav-item{
    padding: 0 20px;
}
.nav-link{
    color: #DDDDDD;
    font-size: 2rem;
}

/* download buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* title image */

#animated_div{
    width: 48%;
    position: relative;
    padding:10px 5px 10px 10px;
    animation:animated_div 5s 1;
    -moz-animation:animated_div 5s 1;
    -webkit-animation:animated_div 5s 1;
    -o-animation:animated_div 5s 1;
    animation-iteration-count: infinite;
    }
    @keyframes animated_div
    {
    0% {transform: rotate(0deg);left:0px;}
    25% {transform: rotate(25deg);left:0px;}
    50% {transform: rotate(0deg);left:200px;}
    55% {transform: rotate(0deg);left:200px;}
    70% {transform: rotate(0deg);left:200px;}
    100% {transform: rotate(-360deg);left:0px;}
    }

/* features section */

#features{
    padding: 7% 15%;
}

.feature-box{
    text-align: center;
    padding: 5%;
}
.feature-icons{
    font-size: 100px;
    color: #FF9898;
}
.feature-icons:hover{
    color: #ff4c68;
}

/* testimonial */

#testimonials{ 
    padding-top: 5%;
    text-align: center;
    background-color: #F7D59C;
}
.carousel-item{
    padding: 5% 15%;
}

.testimonial-image{
    width: 20%;
    margin: 20px;
    border-radius: 100%;
}

/* #testimonials-head{
    font-size: 2rem;
    color: #2D2424;
} */
.testimonial-text{
    color: #86340A;
}

/* press */

#press{
    background-color: #AEE1E1;
    text-align: center;
    padding: 10px;
}
.press-logo{
    width: 15%;
    margin: 5px 20px 5px;
}

/* pricing */

#pricing{
    background-color: #E1E5EA;
    text-align: center;
    padding: 100px;
}

.pricing-column{
    padding: 5% 3%;
}

.card-body{
    text-align: left;
}
.dog-price{
    width: 60%;
    border-radius: 100%;
    float: right;
}
.card-body:hover{
    background-color: #B5EAEA;
}

/* cta */

#cta{
    text-align: center;
    padding: 100px 0 100px;
    background-color: #2978B5;
}



/* footer */


.icon{
    width: 20%;
    margin: 1% auto;
}

#icon-img{
    font-size: 50%;
}

#footer{
    text-align: center;
    padding: 50px 0 20px;
    background-color: #343F56;
}
.footer-credit{
    color: #FEF7DC;
    font-size: 1rem;
}

#creator{
    font-size: 0.8rem;
}

#map{
    border-radius: 10px;
}
